/* static/style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #6ddabb;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #d19797;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #343a40;
}

form {
    margin-top: 20px;
}

select, button {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

select {
    width: 100%;
    margin-bottom: 10px;
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 15px;
    background-color: #79887d;
    color: #000000f6;
    border-radius: 4px;
}
